body{ 
    background-color: rgb(39, 37, 107);
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15pt; ;

}

h1{
    text-align: center;
    font-size: 30pt;
}

.topnav{
    background-color: gold;
    overflow: hidden;

}

.topnav a{
    float: left;
    padding: 14px 16px;
    color: rgb(39, 37, 107);

    
    font-size: 30px;
    text-align: center;
    text-decoration: lightgray;
}

.topnav a:hover{
    background-color:rgb(39, 37, 107);
    color: rgb(249, 253, 4);

}

.indexCSS hr{
    margin-top: 5em;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
@media screen and (max-device-width:60em){
    .playersCSS img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10em;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20em;
    }
}
