body{ 
    background-color: rgb(39, 37, 107);
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p{
    text-align: center;
    font-family: 'Times New Roman',

}

h1{
    text-align: center;
    font-size: 50pt;
}

.topnav{
    background-color: gold;
    overflow: hidden;

}

.topnav a{
    float: left;
    padding: 14px 16px;
    color: rgb(39, 37, 107);
    font-size: 30px;
    text-align: center;
    text-decoration: lightgray;
}

.topnav a:hover{
    background-color:rgb(39, 37, 107);
    color: rgb(249, 253, 4);

}